<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.shirazservice.expert">

    <uses-permission android:name = "android.permission.INTERNET" />
    <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="ir.shirazservice.expert.utils.APP"
        android:usesCleartextTraffic = "true"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="ir.shirazservice.expert.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".firebase.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activity.IntroSliderActivity"  android:screenOrientation = "portrait"/>
        <activity android:name=".activity.LoginActivity"  android:screenOrientation = "portrait"/>
        <activity android:name=".activity.MainActivity"  android:screenOrientation = "portrait"/>
        <activity android:name=".activity.AllTransactionActivity"  android:screenOrientation = "portrait"/>
        <activity android:name=".activity.ChargeActivity"  android:screenOrientation = "portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="zarrinpalpayment" android:scheme="return" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.ServiceRequestDetailActivity"  android:screenOrientation = "portrait"/>
        <activity android:name=".activity.ProfileActivity"  android:screenOrientation = "portrait"/>

    </application>

</manifest>